# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Flask
instance/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/